<section class="header">
  <p class="playback-time">{{ playbackTime }}s</p>
  <button (click)="togglePlayback()">Play / Pause</button>
  <p class="zoom-label">Zoom</p>
  <ng5-slider
    [(value)]="zoomSliderOptions.initialValue"
    [options]="zoomSliderOptions.options"
    (userChangeEnd)="onSliderZoom($event)"
  >
  </ng5-slider>
</section>
<section>
  <loading-overlay [loading]="loading || zooming"></loading-overlay>
  <div id="spectrogram"></div>
  <div id="waveform"></div>
  <div id="wave-timeline"></div>
</section>
<section class="timeline-scrollbox">
  <div
    class="timeline-container"
    [style.width.px]="waveformWidth"
    [style.transform]="translateOnScroll"
  >
    <section class="annotations timeline">
      <div
        class="annotation"
        *ngFor="let annotation of exampleAnnotations"
        [attr.data-timestamp]="annotation.percentTime"
        [ngStyle]="
          annotation.leftAlign
            ? { left: annotation.percentTime + '%' }
            : { right: 100 - annotation.percentTime + '%' }
        "
      >
        <div
          class="triangle-icon"
          [ngClass]="annotation.leftAlign ? 'left-align' : 'right-align'"
        ></div>

        <button
          class="annotation-content"
          (click)="selectAnnotation(annotation.percentTime)"
        >
          {{ annotation.description }}
          <span class="annotation-cta">Start playback here</span>
        </button>
      </div>
    </section>
    <section class="clusters timeline" *ngFor="let timeline of timelines">
      <h3>{{ timeline.name }}</h3>
      <button
        tooltip="{{ region.label }}"
        *ngFor="let region of timeline.regions"
        class="cluster"
        [ngStyle]="region.cssStyles"
        [attr.data-start]="region.start"
        [attr.data-end]="region.end"
        (click)="selectCluster(region.start, region.end)"
      >
        {{ region.label }}
      </button>
    </section>
  </div>
</section>
<section>
  <div style="white-space: pre-line">
    <!-- <h2>Full annotation</h2> -->
    <!-- <p>{{ currAnnotation }}</p> -->
  </div>
</section>
