<div class="app-container">
  <section class="wave-container card-bg">
    <section class="controls">
      <p class="playback-time">{{ playbackTime }}s</p>
      <button (click)="togglePlayback()">Play / Pause</button>
      <p class="zoom-label">Zoom</p>
      <ng5-slider
        [(value)]="zoomSliderOptions.initialValue"
        [options]="zoomSliderOptions.options"
        (userChangeEnd)="onSliderZoom($event)"
      >
      </ng5-slider>
    </section>
    <section>
      <loading-overlay [loading]="loading || zooming"></loading-overlay>
      <div class="spectrogram-container">
        <div id="spectrogram"></div>
      </div>
      <div id="waveform"></div>
      <div id="wave-timeline"></div>
    </section>
  </section>
  <section class="timeline-scrollbox">
    <section
      class="annotations timeline"
      [style.transform]="translateOnScroll"
      [style.width.px]="waveformWidth"
    >
      <div
        class="annotation"
        *ngFor="let annotation of manualAnnotations"
        [attr.data-timestamp]="annotation.percentTime"
        [ngStyle]="
          annotation.leftAlign
            ? { left: annotation.percentTime + '%' }
            : { right: 100 - annotation.percentTime + '%' }
        "
      >
        <div
          class="triangle-icon"
          [ngClass]="annotation.leftAlign ? 'left-align' : 'right-align'"
        ></div>

        <button
          class="annotation-content"
          (click)="selectAnnotation(annotation.percentTime)"
        >
          {{ annotation.description }}
          <span class="annotation-cta">Start playback here</span>
        </button>
      </div>
    </section>
    <section
      class="clusters timeline card-bg"
      *ngFor="let timeline of timelines"
    >
      <h2>
        {{ 'Learning algorithm: ' + timeline.name }}
      </h2>
      <div
        class="timeline-container"
        [style.transform]="translateOnScroll"
        [style.width.px]="waveformWidth"
      >
        <button
          *ngFor="let region of timeline.regions"
          class="cluster"
          [tooltip]="region.label"
          [style.width.%]="region.percentWidth"
          [style.left.%]="region.percentStart"
          [style.background]="region.color"
          [attr.data-start]="region.start"
          [attr.data-end]="region.end"
          (click)="selectCluster(region.start, region.end, region.color)"
        >
          {{ region.label }}
        </button>
        <div
          class="background-container"
          [style.background-size.%]="(1 / audioLength) * 50"
        ></div>
      </div>
    </section>
  </section>
</div>
