<section class="header">
  <p class="playback-time">{{ playbackTime }}s</p>
  <button (click)="togglePlayback()">Play / Pause</button>
  <p class="zoom-label">Zoom</p>
  <ng5-slider
    [(value)]="zoomSliderOptions.initialValue"
    [options]="zoomSliderOptions.options"
    (userChangeEnd)="onSliderZoom($event)"
  >
  </ng5-slider>
</section>
<section>
  <loading-overlay [loading]="loading || zooming"></loading-overlay>
  <div id="spectrogram"></div>
  <div id="waveform"></div>
  <div id="wave-timeline"></div>
</section>
<section class="timeline-scrollbox">
  <div
    class="timeline-container"
    [style.width.px]="waveformWidth"
    [style.transform]="translateOnScroll"
  >
    <section class="annotations timeline">
      <div
        class="annotation"
        *ngFor="let annotation of exampleAnnotations; let i = index"
        [attr.data-timestamp]="annotation.percentTime"
        [ngStyle]="
          annotation.leftAlign
            ? { left: annotation.percentTime + '%' }
            : { right: 100 - annotation.percentTime + '%' }
        "
      >
        <div
          class="pointer"
          [ngClass]="annotation.leftAlign ? 'left-align' : 'right-align'"
        ></div>
        <button (click)="selectAnnotation(annotation.percentTime)">
          {{ i + 1 + ': ' + annotation.description }}
        </button>
      </div>
    </section>
    <section class="clusters timeline" *ngFor="let timeline of timelines">
      <button
        *ngFor="let region of timeline.regions"
        class="timeline-region"
        [ngStyle]="region.cssStyles"
        [attr.data-start]="region.start"
        [attr.data-end]="region.end"
        (click)="selectCluster(region.start, region.end)"
      >
        {{ region.label }}
      </button>
    </section>
  </div>
</section>
<section>
  <h2>Full annotation</h2>
  <p>{{ currAnnotation }}</p>
</section>
