button {
  font-size: 14px;
  border: none;
  background: none;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading > img {
  height: 50px;
  width: 50px;
  margin: 30px;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
}

#loading > img.anim-delay-1 {
  animation-delay: 0.333s;
}

#loading > img.anim-delay-2 {
  animation-delay: 0.667s;
}

section.timeline-scrollbox {
  position: relative;
  margin-top: 30px;
  overflow-x: hidden;

  h2 {
    position: absolute;
    top: 0;
  }

  .timeline-container {
    position: relative;
    min-width: 100%;

    .annotations.timeline {
      height: 50px;
      position: relative;

      .annotation {
        position: absolute;
        width: 44px;
        transition: width 0.2s;
        margin-top: 10px;
        top: 0;
        height: 40px;
        left: auto;
        right: 0;

        button {
          width: inherit;
          height: inherit;
          color: #10309a;
          background: #d0e5ff;
          border: 3px solid #10309a;
          font-weight: bold;
          border-radius: 5px;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: left;

          cursor: pointer;
        }

        .pointer {
          position: absolute;
          top: -10px;
          width: 10px;
          height: 13px;
          z-index: 5;
        }

        .pointer.left-align {
          left: 0;
          background: linear-gradient(45deg, #10309a 50%, rgba(0, 0, 0, 0) 50%);
        }
        .pointer.right-align {
          right: 0;
          background: linear-gradient(
            -45deg,
            #10309a 50%,
            rgba(0, 0, 0, 0) 50%
          );
        }
      }

      .annotation:hover {
        width: 300px;
      }
    }

    .timeline {
      position: relative;
      height: 50px;
      margin-bottom: 15px;
      width: 100%;

      .timeline-region {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 10px 10px;
        border: 2px solid rgba(20, 20, 20, 0.1);
        border-radius: 5px;
        border-style: inset;
        font-size: 14px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: inherit;

        opacity: 0.5;
        transition: opacity 0.3s;
      }

      .timeline-region.highlighted {
        opacity: 1;
        font-weight: bold;
      }
    }
  }
}

wave::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
wave::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

section.playback {
  display: flex;
  align-items: center;

  .playback-time {
    width: 50px;
  }

  ng5-slider {
    flex: 1;
    max-width: 500px;
    margin-top: -20px;
  }

  button {
    margin: 20px;
    background: #3483eb;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
  }
}
