* {
  font-family: sans-serif;
}

button {
  font-size: 14px;
  border: none;
  background: none;
}

section {
  position: relative;
}

section.timeline-scrollbox {
  margin-top: 10px;
  //overflow-x: hidden;

  h2 {
    position: absolute;
    top: 0;
  }
  h3 {
    position: fixed;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
    y:fixed
  }


  .timeline-container {
    position: relative;
    min-width: 100%;

    .timeline {
      height: 60px;
      margin-bottom: 40px;
      width: 100%;
    }

    .annotation > button,
    .cluster {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      border-radius: 5px;
    }

    .annotations.timeline {
      height: 50px;

      .annotation {
        position: absolute;
        width: 44px;
        transition: width 0.2s;
        margin-top: 10px;
        top: 0;
        height: 40px;
        left: auto;
        right: 0;

        button {
          width: inherit;
          height: inherit;
          color: #10309a;
          background: #d0e5ff;
          border: 3px solid #10309a;
          font-weight: bold;
          text-align: left;
        }

        .pointer {
          position: absolute;
          top: -10px;
          width: 10px;
          height: 13px;
          z-index: 5;
          margin-top: 10px;
        }

        .pointer_button {
          position: absolute;
          margin-top: 10px;
          width: 500%;
        }

        .pointer.left-align {
          left: 0;
          background: linear-gradient(45deg, #10309a 50%, rgba(0, 0, 0, 0) 50%);
        }
        .pointer.right-align {
          right: 0;
          background: linear-gradient(
            -45deg,
            #10309a 50%,
            rgba(0, 0, 0, 0) 50%
          );
        }
      }

      .annotation:hover {
        width: 100px;
      }
    }

    .clusters.timeline {
      .cluster {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 10px 10px;
        border: 2px solid rgba(20, 20, 20, 0.1);
        border-style: inset;
        font-size: 14px;
        margin-top: 16.5px;
        margin-bottom: 50px;

        opacity: 0.6;
        transition: opacity 0.3s;
      }

      .cluster.highlighted {
        opacity: 1;
        font-weight: bold;

      }
    }
  }
}

:host ::ng-deep #waveform > wave::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

:host ::ng-deep #waveform > wave::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  height: 100px;

  .playback-time {
    width: 30px;
    margin-right: 10px;
  }

  ng5-slider {
    max-width: 500px;
    margin-top: 0;
  }

  .zoom-label {
    font-weight: bold;
    margin-right: 20px;
    margin-left: auto;
  }

  button {
    margin: 20px;
    background: #3483eb;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
  }
  .button:hover {
    width: 100px;
  }
}
