* {
  font-family: sans-serif;
}

button {
  font-size: 14px;
  border: none;
  background: none;
}

section {
  position: relative;
}

section.timeline-scrollbox {
  padding-top: 10px;
  overflow-x: hidden;

  h2 {
    position: absolute;
    top: 0;
  }
  h3 {
    position: fixed;
    white-space: nowrap;
  }

  .timeline-container {
    position: relative;
    min-width: 100%;

    .timeline {
      height: 60px;
      margin-bottom: 40px;
      width: 100%;
    }

    .annotation-content,
    .cluster {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      border-radius: 5px;
      padding: 10px;
    }

    .annotations.timeline {
      height: 50px;

      .annotation {
        position: absolute;
        width: 200px;
        transition: width 0.2s;
        top: 0;
        left: auto;
        right: 0;
        transition-property: transform;
        transition-duration: 0.2s;

        .annotation-content {
          width: inherit;
          color: #10309a;
          background: #dfeeff;
          border: 3px solid #10309a;
          text-align: left;
          transition-property: box-shadow;
          transition-duration: inherit;

          .annotation-cta {
            display: none;
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
          }
        }

        .triangle-icon {
          width: 10px;
          height: 13px;
          margin-bottom: -3px;
        }

        .triangle-icon.left-align {
          background: linear-gradient(45deg, #10309a 50%, rgba(0, 0, 0, 0) 50%);
        }
        .triangle-icon.right-align {
          margin-left: auto;
          background: linear-gradient(
            -45deg,
            #10309a 50%,
            rgba(0, 0, 0, 0) 50%
          );
        }
      }

      .annotation:hover,
      .annotation:focus-within {
        transform: translateY(-10px);
        z-index: 999;
        .annotation-content {
          height: auto;
          white-space: normal;
          text-overflow: initial;
          overflow: visible;
          box-shadow: 0 5px 15px rgba(100, 100, 100, 0.5);

          .annotation-cta {
            display: block;
          }
        }
      }
    }

    .clusters.timeline {
      .cluster {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 10px 10px;
        border: 2px solid rgba(20, 20, 20, 0.1);
        border-style: inset;
        font-size: 14px;
        margin-top: 16.5px;
        margin-bottom: 50px;

        opacity: 0.6;
        transition: opacity 0.3s;
      }

      .cluster.highlighted {
        opacity: 1;
        font-weight: bold;
      }
    }
  }
}

.spectrogram-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 128px;
  z-index: -1;
}

:host ::ng-deep #waveform {
  wave {
    height: 256px !important;
  }
  wave > canvas {
    margin-top: 123px;
    height: 128px !important;
  }
}

:host ::ng-deep #waveform > wave::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

:host ::ng-deep #waveform > wave::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  height: 100px;

  .playback-time {
    width: 30px;
    margin-right: 10px;
  }

  ng5-slider {
    max-width: 500px;
    margin-top: 0;
  }

  .zoom-label {
    font-weight: bold;
    margin-right: 20px;
    margin-left: auto;
  }

  button {
    margin: 20px;
    background: #3483eb;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
  }
  .button:hover {
    width: 100px;
  }
}
